@import "normalize";
@import "mixins";

// Colors
$blue: #4791D2;
$lightblue: #ECFAFF;
$cyan: #1CE8B5;
$orange: #FF6D3F;
$red: #d32f2f;
$green: #95D641;
$yellow: #FFDA00;
$black: #191919;
$darkerGray: #222;
$darkGray: #333;
$gray: #aaaaaa;
$lightGray: #E8E8E8;
$white: #FFF;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $lightGray;
}

$header-height: 64px;
$logo-width: 38px;
$logo-height: 38px;
$logo-margin: ($header-height - $logo-height)/2;

.error {
  background-color: $red !important;
  line-height: 22px;
  padding: 10px;
  color: white;
  font-size: 14px;
}

.hidden {
  display: none;
  opacity: 0;
}

#header {
  background-color: $blue;
  height: $header-height;

  .container {
    padding-top: $logo-margin;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    img {
      width: 45px;
      height: 45px;
    }
    flex-grow: 1;
  }

  .title {
    flex-grow: 10;
    font-size: 20px;
    color: $white;
  }

  .check-btn {
    flex-grow: 1;
    img {
      width: $logo-width;
      height: $logo-height;
      margin-right: 2px;
    }
  }
}

.container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}

.input-wrapper {
  margin: 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.input-wrapper input {
  width: 100%;
  font-size: 14px;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
  background: transparent;
  border-width: 0;
}

.input-field {
  padding: 10px 12px 12px;
  line-height: 19px;
  flex-grow: 11;
}

.note-choix {
  padding: 10px 12px 12px;
  line-height: 19px;
}

.input-control {
  flex-grow: 1;
  text-align: center;
  border-right: 1px dashed #e0e0e0;
}

.input-control svg {
  margin-top: 2px;
  fill: #9e9e9e;
  width: 38px;
  height: 38px;
}

.deleted {
  background-color: transparent;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  box-shadow: none;
}

.deleted a {
  height: 40px;
  line-height: 40px;
  color: #5892F5 !important;
  width: 100%
}

.ng-hide-remove {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.help {
  margin: 10px 10px 0;
  padding: 10px;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5;
  @include tablet-and-desktop {
    text-align: center;
  }
}

.tablet-and-desktop {
  display: none;
  @include tablet-and-desktop {
    display: block;
  }
}

.vote-title {
  color: $blue;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 10px;
  text-align: center;
}

.card {
  margin: 10px 10px 0;
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  transition: background 0.5s linear;
  a {
    border: 1px dashed $darkGray;
    min-height: 48px;
    display: inline-block;
  }
  .selected {
    border: 1px solid $darkGray;
  }
  .stars {
    padding-bottom: 10px;
  }
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.orange {
  background-color: $orange;
}

.red {
  background-color: $red;
}

#input-name {
  text-align: center;
}

.button {
  background-color: $blue;
  border-bottom: 5px solid darken($blue, 20%);
  text-shadow: 0 -2px #2980B9;
  color: $white;
  margin: 20px 10px 0;
  border-radius: 2px;
  padding: 15px;

}

.button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}