<div data-ng-controller="questionControleur">
    <div id="header">
        <div class="container">
            <div class="logo">
                <img src="img/logo.png" alt=""/>
            </div>
            <div class="title">
                Ajouter un vote
            </div>
            <a href="#" class="check-btn"><img src="img/check.png" alt="" data-ng-click="creerUnVote()"/></a>
        </div>
    </div>
    <div class="container vertical">
        <div class="input-wrapper orange" data-ng-show="messageDErreur">
            <small data-ng-show="messageDErreur.length > 0">{{ messageDErreur }}</small>
        </div>
        <div class="input-wrapper">
            <input type="text" id='intitule' name='intitule' data-ng-model="intitule"
                   placeholder="Entrez l'intitulé de la question"/>
        </div>
        <div class="input-wrapper">
            <form id="formChoix" data-ng-submit="ajouterUnChoixEtFocusChampTexte(nouveauChoix)">
                <input type="text" placeholder="Ajouter un choix" id="nouveauChoix" data-ng-model="nouveauChoix"/>
            </form>
        </div>
        <div class="input-wrapper" data-ng-repeat="nomDuChoix in choix">
            <input type="text" value="{{ nomDuChoix }}"/>
        </div>
    </div>
    <div class="container">
        <div class="input-wrapper help">
            <p>
                Avec le Vote de Valeur, la question posée à l'électeur n'est plus quel est votre choix préféré ?
                <br> mais quelle est votre opinion sur chacun des choix ?
                <br/>
                <br/>
                <b>Rajouter une question, des choix et valider.</b>
            </p>

            <p class="tablet-and-desktop">
                <kbd>Tabulation</kbd> pour passer d'un champ à l'autre<br/>
                <kbd>Entrer</kbd> pour ajouter des choix<br/>
                <kbd>Ctrl/Cmd</kbd> + <kbd>Z</kbd> pour supprimer le dernier choix<br/>
                <kbd>Ctrl/Cmd</kbd> + <kbd>S</kbd> pour créer un vote
            </p>
        </div>
    </div>
</div>
