<div id="header">
    <div class="container">
        <a href="/" class="logo"><img src="img/logo.png" alt=""/></a>

        <div class="title">
            Créer un vote de valeur
        </div>
        <div class="">
            <a class="check-btn"><img src="img/check.png" alt="" data-ng-click="creerUnVote()"/></a>
        </div>

    </div>
</div>
<div class="container">
    <div class="input-wrapper error" data-ng-show="messageDErreur">
        <small data-ng-show="messageDErreur.length > 0">{{ messageDErreur }}</small>
    </div>
    <div class="input-wrapper">
        <div class="input-field">
            <input type="text" id='intitule' name='intitule' data-ng-model="intitule"
                   placeholder="exemple: Quel type de cuisine préférez-vous ?">
            <style type="text/css">
                .input-field {
                    position: relative;
                }

                .tooltip {
                    position: absolute;
                    left: 10px;
                    top: 12px;
                    background-color: red;
                }
            </style>
            <div class="tooltip" ng-show="astuce">
                1 - ajouter une question ici
            </div>
        </div>
    </div>
    <div class="input-wrapper" data-ng-repeat="nomDuChoix in choix">
        <div class="input-control">
            <a data-ng-click="supprimerChoix(nomDuChoix)">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                    <path d="M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z"></path>
                </svg>
            </a>
        </div>
        <div class="input-field">
            <input type="text" value="{{ nomDuChoix.valeur }}" ng-model="nomDuChoix.valeur"/>
        </div>
    </div>
    <form id="formChoix" data-ng-submit="ajouterUnChoixEtFocusChampTexte(nouveauChoix)">
        <div class="input-wrapper">
            <div class="input-field">
                <input type="text" placeholder="Chinoise, Italienne, Mexicaine, Française" id="nouveauChoix" data-ng-model="nouveauChoix"/>

                <div class="tooltip" ng-show="astuce">
                    2 - ajouter des choix ici
                </div>
            </div>
        </div>
    </form>
    <div class="help">
        <p>
            Quel type de cuisine préférez-vous ? Chinoise ? Italienne ? Mexicaine ? Française ?<br>
            Vote de valeur aide à trouver un compromis au sein d'un groupe pour obtenir un classement et prendre la meilleure décision, ensemble.
        </p>
        <br/>

        <p>
            <b>Pour commencer rien de plus simple, ajoutez une question, rajouter des choix et votez !</b>
        </p>
        <br/>
        <a href="" id="astuce-link" data-ng-model="astuce" data-ng-click="astuce=!astuce">aide</a>


        <p class="tablet-and-desktop" ng-show="astuce">
            pour créer un vote cliquez sur le bouton <img src="img/check.png" alt="" width="25px" style="background-color: #4791D2"/> en haut à
            droite <br/>
            rajouter une question<br/>
            rajouter des choix (Astuce:Vous pouvez séparer les choix par des virgules)
        </p>
    </div>
    <!--
    <div class="input-wrapper deleted">
        <a href="">undo</a>
    </div>
    -->
</div>
