html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none; }

*:focus {
  outline: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.text-center {
  text-align: center; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #E8E8E8; }

.error {
  background-color: #FF6D3F;
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 22px; }

#header {
  background-color: #4791D2;
  height: 64px; }
  #header .container {
    padding-top: 13px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center; }
  .container .logo {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 45px;
    height: 45px;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .container .logo img {
      width: 45px;
      height: 45px; }
  .container .title {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex-grow: 10;
        -ms-flex-positive: 10;
            flex-grow: 10;
    font-size: 20px;
    color: #FFF; }
  .container .check-btn {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .container .check-btn img {
      width: 38px;
      height: 38px;
      margin-right: 2px; }

.container .input-wrapper {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background-color: #FFF;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  margin: 10px 10px 0;
  border-radius: 2px;
  padding: 10px 12px 12px;
  line-height: 19px; }
  .container .input-wrapper input {
    width: 100%;
    font-size: 14px;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    background: transparent;
    border-width: 0; }
.container .blue {
  background-color: #4791D2; }
  .container .blue input {
    color: white; }
.container .green {
  background-color: #95D641; }
.container .orange {
  background-color: #FF6D3F; }
.container .cyan {
  background-color: #1CE8B5; }
.container .yellow {
  background-color: #FFDA00; }
.container .help {
  background-color: #c2daf0;
  box-shadow: none; }
  .container .help input {
    color: #191919; }

.vertical {
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }

.tablet-and-desktop {
  display: none;
  margin-top: 20px; }
  @media only screen and (min-width: 481px) {
    .tablet-and-desktop {
      display: block; } }
