body {
    background-color: #202020;
    color: #f2f2f2;
}

#footer p {
    font-size: 12px;
}

.top-bar {
    margin-bottom: 20px;
}

#logo {
    width: 120px;
    margin-top: 20px;
}

h1, h2 {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

label {
    color: #f2f2f2;
    font-size: 20px;
}

.panel {
    color: #202020;
}

a {
    color: #2978A8;
}

.smileys-colums{
    margin: 0;
    padding: 0;
}
.smileys {
    position: relative;
    min-height: 78px;
    margin: 0;
    padding: 0;
}

.smileys li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

.smileys li, .smileys a {
    height: 78px;
    display: block;
}

.enerve {
    left: 7px;
    width: 64px;
    background: url('../img/smiley.jpg') -7px 0;
}

.enerve.selectionne {
    background: url('../img/smiley.jpg') -7px -75px;
}

.mecontent {
    left: 64px;
    width: 64px;
    background: url('../img/smiley.jpg') -68px 0;
}

.mecontent.selectionne {
    background: url('../img/smiley.jpg') -67px -75px;
}

.normal {
    left: 128px;
    width: 64px;
    background: url('../img/smiley.jpg') -128px 0;
}

.normal.selectionne {
    background: url('../img/smiley.jpg') -128px -75px;
}

.content {
    left: 190px;
    width: 64px;
    background: url('../img/smiley.jpg') -190px 0;
}

.content.selectionne {
    background: url('../img/smiley.jpg') -190px -75px;
}

.heureux {
    left: 252px;
    width: 64px;
    background: url('../img/smiley.jpg') -252px 0;
}

.heureux.selectionne {
    background: url('../img/smiley.jpg') -252px -75px;
}

.proposition{
    text-align: center;
    line-height: 58px;
    font-size: 20px;
    margin: 0;
}