<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ title }}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    {% block head %}
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/foundicons.css">
    <link rel="stylesheet" href="/css/angular-csp.css">
    <link href="/css/votedevaleur.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<!-- todo add static file instead of CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name"><h1><a href="/">Vote de valeur</a></h1></li>
    </ul>
</nav>

{% block content %}{% endblock %}


<div id="footer">
      Réalisé par <a href="https://twitter.com/guillaume20100">Guillaume</a> - <a href="https://github.com/guillaumevincent/votedevaleur-nodejs">code source</a>
</div>
</body>
</html>
