{% extends 'base.html' %}

{% block content %}
<script src="/js/hotkeys.js"></script>
<script src="/js/opinionApplication.js"></script>

<div data-ng-app="opinionApplication">
    <div data-ng-controller="opinionControleur">

        <div class="row">
            <div class="large-12 columns">
                <h1>Question: {$ intitule $}</h1>

                <div class="callout panel text-center">
                    <a href="#" class="button radius" data-ng-init="afficherLeGagnant=false"
                       data-ng-click="afficherLeGagnant=!afficherLeGagnant">
                        <span data-ng-hide="afficherLeGagnant">Réveler la réponse</span>
                        <span data-ng-show="afficherLeGagnant && reponses.length == 0"> Il n'y a pas de réponse, ajouter une opinion avant !</span>
                        <span data-ng-show="afficherLeGagnant && reponses.length == 1"> Le gagnant est :</span>
                        <span data-ng-show="afficherLeGagnant && reponses.length > 1"> Les gagnants sont :</span>
                    </a>
                    <br/>
                    <span data-ng-repeat="reponse in reponses" ng-show="afficherLeGagnant">
                        {$ reponse $} <span ng-hide="$last">et</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h1>Ajouter une opinion:</h1>

                <form ng-submit="ajouterOpinion()">
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Votre nom :</label>
                            <input type="text" ng-model="opinion.electeur" placeholder="Entrer votre nom"/>
                            <small class="error" data-ng-show="messageDErreur.length > 0">{$ messageDErreur $}</small>
                        </div>
                    </div>
                    <div class="row" ng-repeat="note in opinion.notes">
                        <div class="large-6 columns">
                            <label>{$ note.choix $}</label>
                        </div>
                        <div class="large-6 columns">
                            <input type="radio" ng-model="note.valeur" name="{$ note.choix $}" ng-value="-2"
                                   id="{$ note.choix $}-2"><label for="{$ note.choix $}-2">-2</label>
                            <input type="radio" ng-model="note.valeur" name="{$ note.choix $}" ng-value="-1"
                                   id="{$ note.choix $}-1"><label for="{$ note.choix $}-1">-1</label>
                            <input type="radio" ng-model="note.valeur" name="{$ note.choix $}" ng-value="0"
                                   id="{$ note.choix $}0"><label for="{$ note.choix $}0">0</label>
                            <input type="radio" ng-model="note.valeur" name="{$ note.choix $}" ng-value="1"
                                   id="{$ note.choix $}+1"><label for="{$ note.choix $}+1">+1</label>
                            <input type="radio" ng-model="note.valeur" name="{$ note.choix $}" ng-value="2"
                                   id="{$ note.choix $}+2"><label for="{$ note.choix $}+2">+2</label>
                        </div>
                    </div>
                    <input class="button radius" type="submit" value="ajouter une opinion">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}