{% extends 'base.html' %}

{% block content %}

<div data-ng-app="voteApplication" class="ng-cloak">
    <div data-ng-controller="voteControleur">
        <div class="row">
            <div class="large-12 columns text-center">
                <h1><span class="visible-for-medium-up">Créer un </span>nouveau vote</h1>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Intitulé de votre vote:</label>
                <input type="text" id='intitule' name='intitule' data-ng-model="intitule"
                       placeholder="entrez l'intitulé de votre vote" autofocus/>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <form data-ng-submit="ajouterUnChoix(nouveauChoix)">
                    <label>Ajoutez des choix:</label>

                    <div class="row collapse">

                        <div class="small-10 columns">
                            <input type="text" id="nouveauChoix" data-ng-model="nouveauChoix"
                                   placeholder="entrer la valeur du choix"/>
                        </div>
                        <div class="small-2 columns">
                            <input type="submit" class="button postfix" value="+">
                        </div>
                    </div>

                    <small class="error" data-ng-show="messageDErreur.length > 0">{$ messageDErreur $}</small>
                </form>
            </div>
        </div>
        <div class="row" ng-repeat="nomDuChoix in choix">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" value="{$ nomDuChoix $}" disabled/>
                    </div>
                    <div class="small-2 columns">
                        <a href="#" data-ng-click="supprimerUnChoix(nomDuChoix)" class="button postfix alert">x</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button class="button radius expand" data-ng-click="creerUnVote()">
                    Créer un vote
                </button>

                <div class="callout panel text-center visible-for-medium-up">
                    <kbd>Tabulation</kbd> pour passer d'un champ à l'autre<br/>
                    <kbd>Entrer</kbd> pour ajouter des choix<br/>
                    <kbd>Ctrl/Cmd</kbd> + <kbd>Z</kbd> pour supprimer le dernier choix<br/>
                    <kbd>Ctrl/Cmd</kbd> + <kbd>S</kbd> pour créer un vote
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}